body {
       background-color:blue;}
h1   {
       color: green;}
      }
h1   {
       color: green;}
      }
hr {
       background-color:white;
       borderstyle-style:none;
       border-top-style: dotted;
       height: 0px;
       width:30%;

       }
